.card-item {
    border-radius: 10px;
    box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
    transition: all 0.3s;
    cursor: pointer;
    background-image: linear-gradient(45deg, rgb(184, 8, 154), rgb(12, 2, 39));
  }
  .card-item:hover {
    transform: scale(1.1);
  }
  .btnsre{
      background-color: red;
      color: white;
      margin-left: 65px;
      margin-bottom: 20px;
  }